<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.ReportMapper">

    <!--查询每个部门对应的人数-->
    <select id="empJobData" resultType="java.util.Map">
        select (case
                    when job = 1 then '班主任'
                    when job = 2 then '讲师'
                    when job = 3 then '学生主管'
                    when job = 4 then '教研主管'
                    when job = 5 then '咨询师'
                    else '其他' end) pos,
               count(*) total
        from emp
        group by job
        order by total
    </select>
    <!--查询员工性别-->
    <select id="empDenderData" resultType="java.util.Map">
        select if(gender = 1, '男性员工', '女性员工') name,
               count(*) value
        from emp
        group by gender

    </select>
    <!--查询班级人数-->
    <select id="studentCountData" resultType="java.util.Map">
        select c.name clazz, count(*) as count
        from student s
            left join clazz c on s.clazz_id = c.id
        group by clazz
        order by count
    </select>
    <!--查询学历统计-->
    <select id="studentDegreeData" resultType="java.util.Map">
        select (case when degree = 1 then '初中'
                     when degree = 2 then '高中'
                     when degree = 3 then '大专'
                     when degree = 4 then '本科'
                     when degree = 5 then '硕士'
                     when degree = 6 then '博士'
                     else '其他' end) name, count(*) as value
        from student
        group by degree
        order by degree;
    </select>
</mapper>